<div class="bg-gray-100 dark:bg-gray-900 min-h-screen flex items-center justify-center">
    <div class="bg-white dark:bg-gray-800 rounded-2xl shadow-lg p-8 w-full max-w-md">
        <div class="text-center mb-6">
            <img src="assets/img/impact-health-logo-dark.png" alt="Logo" class="mx-auto h-12 w-auto" />
        </div>
        <h2 class="text-3xl font-bold mb-4 text-center text-gray-800 dark:text-gray-200">Reset Password?</h2>
        <p class="text-gray-600 dark:text-gray-400 mb-6 text-center">Enter your New Password.</p>
        <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)" class="space-y-6">
            <div>
                <label for="newpassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300">New
                    Password</label>
                <div class="relative">
                    <input type="text" nz-input [type]="newPasswordVisible ? 'text' : 'password'" id="newpassword"
                        name="newpassword" #newPasswordInput="ngModel" [(ngModel)]="newPassword" required minlength="8"
                        maxlength="15" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,15}$" newpassword class="input-C"
                        placeholder="New Password"
                        [class.border-red-500]="newPasswordInput.touched && newPasswordInput.invalid" />
                    <i class="absolute right-3 top-3 cursor-pointer dark:text-gray-300 fas"
                        [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                        (click)="toggleNewPasswordVisibility()"></i>
                </div>
                <div *ngIf="newPasswordInput.touched && newPasswordInput.invalid" class="text-red-500 text-sm mt-1">
                    Password must be 8–15 characters, contain 1 uppercase, 1 number, and 1 special character.
                </div>
                <label for="confirmpassword"
                    class="block text-sm mt-2 font-medium text-gray-700 dark:text-gray-300">Confirm Password</label>
                <div class="relative">
                    <input type="text" nz-input [type]="confirmPasswordVisible ? 'text' : 'password'"
                        id="confirmpassword" maxlength="15" name="confirmpassword" #confirmPasswordInput="ngModel"
                        [(ngModel)]="confirmPassword" required confirmpassword class="input-C"
                        placeholder="Confirm Password"
                        [class.border-red-500]="confirmPasswordInput.touched && confirmPasswordInput.invalid" />
                    <i class="absolute right-3 top-3 cursor-pointer dark:text-gray-300 fas"
                        [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                        (click)="toggleConfirmPasswordVisibility()"></i>
                </div>

            </div>
            <button type="submit" [disabled]="isLoading || resetForm.invalid"
                class="w-full py-2 rounded-xl bg-primary-600 dark:bg-primary-700 text-white font-semibold transition duration-200 hover:bg-primary-700 dark:hover:bg-primary-600 disabled:bg-gray-400 dark:disabled:bg-gray-600 disabled:cursor-not-allowed">
                <span *ngIf="isLoading"
                    class="inline-block animate-spin h-4 w-4 align-middle border-2 border-white border-t-transparent rounded-full mr-2"></span>
                Confirm
            </button>
            <div *ngIf="errorMessage" class="text-red-500 dark:text-red-400 text-center text-sm mt-2">{{ errorMessage }}
            </div>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600 dark:text-gray-400">
            Remember your password?
            <a (click)="onLogin()"
                class="text-primary-600 dark:text-primary-400 hover:underline cursor-pointer">Login</a>
        </p>
    </div>
</div>
